

extends header
block content
    // Blog entries
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', enctype="multipart/form-data")
    .w3-card-4.w3-margin.w3-white
      .w3-container
         h1 Perfil ✏️
    .w3-row
        // Blog entries 
        .w3-col.l9        
            // Blog entry    
            .w3-card-4.w3-margin.w3-white
                .w3-container
                    form(action="/produtor/editarPerfil" method="POST" enctype="multipart/form-data")
                        .container(id="fileInputGroup")
                            br
                            
                            p
                            .div
                                label(for="nome") Nome:
                                .div
                                    input.w3-input.w3-border.w3-round.form-control(type="text",name="nome", value=user.nome)
                            p
                            .div
                                label(for="filiacao") Filiação:
                            .div
                                select.w3-input.w3-border.w3-round.form-control(type="text" name="filiacao", value=user.filiacao)
                                    option(value="estudante") Estudante
                                    option(value="docente") Docente
                                    option(value="outro") Outro
                            .w3-container.w3-white
                            .div
                                label(for="file") Carregar Foto de Perfil:
                                    img(src=path alt='Nature' style='width:10%')
                                    input.custom-file-input(type="file" name="file")
                            p
                            .div(id="btnn")
                                input.w3-input.w3-border.w3-round.form-control(type="button",id="btn", onclick=`changePass()`, value="Alerar Password")                     
                        hr
                        .w3.bottom   
                            input.w3-button.w3-padding-large.w3-purple.w3-border(type="submit",value="Submit")
                        br
    br
    // END w3-content
