extends header
block content
    .w3-card-4.w3-margin.w3-white
      .w3-container
        h1.w3-center Os meus Uploads
    .w3-card-4.w3-margin.w3-white
      .w3-container
        br
        table.w3-table-all.w3-centered
            tr
              th Título
              th Tipo
              th Visibilidade
              th Data de Registo
              th Autor
              th Opçoes
            each e in recursos
              tr
                td=e.titulo
                td=e.tipo
                td=e.visibilidade
                td=e.dataRegisto 
                td 
                  each autor in e.autor               
                    =autor 
                    br
                td 
                  button.w3-button.w3-purple.w3-border
                        a(href="/produtor/editar/"+e._id) Editar &raquo;
                  button.w3-button.w3-purple.w3-border
                        a(href="/produtor/remove/"+e._id) Eliminar &raquo;
                  button.w3-button.w3-purple.w3-border
                        a(href="/produtor/recurso/"+e._id) Ver Detalhes &raquo;
        br