extends layout
block content

   .about-section
      .w3-container.w3-margin.w3-white
        h2(style='text-align:center') Our Team
      .row
        .column
          .card.w3-white.w3-center
            img(src='/images/cherry.png' alt='Hugo' style='width:70%')
            .container
              h2 Hugo Cunha
              p.title Back-Ender
              p DAW
              p
                button.button(onclick="location.href = 'https://github.com/HCHexY';") Git
        .column
          .card.w3-white.w3-center
            img(src='/images/gg.png' alt='Catarina' style='width:70%')
            .container
              h2 Ana Catarina Gil
              p.title Full-Stacker
              p DAW
              p
                button.button(onclick="location.href = 'https://github.com/Catarinacg16';") Git
        .column
          .card.w3-white.w3-center
            img(src='/images/pinap.png' alt='Tania' style='width:70%')
            .container
              h2 Tânia Rocha
              p.title Full-Stacker
              p PRI
              p
                button.button(onclick="location.href = 'https://github.com/taniafilipa33';") Git
