extends header
block content
  .w3-container.w3-margin.w3-white.w3-center
    h1 DEVPANEL
  .w3-container.w3-margin.w3-white.w3-center
     hr
     ul.w3-ul
       li
         a.w3-input.w3-border.w3-round.w3-button.w3-hover-purple.w3-light-gray(href="/consumidor/") Página do Consumidor  
       br    
       li
         a.w3-input.w3-border.w3-round.w3-btn.w3-hover-purple.w3-light-gray(href="/produtor/") Página do Produtor
       br
       li
         a.w3-input.w3-border.w3-round.w3-btn.w3-hover-purple.w3-light-gray(href="/administrador/") Página do Administrador
       br
       li
         a.w3-input.w3-border.w3-round.w3-btn.w3-hover-purple.w3-light-gray(href="/administrador/registar") Registar utilizador [ADMIN ONLY]
       br
       li
         a.w3-input.w3-border.w3-round.w3-button.w3-hover-purple.w3-light-gray(href="/logout") Logout
       hr
