extends layout

block content
  h1 Listagem de P치ginas
  p HomePage 
  ul
    li
      a(href="/consumidor/") P치gina do Consumidor      
    li
      a(href="/produtor/") P치gina do Produtor
    li
      a(href="/administrador/") P치gina do Administrador
