extends layout

block content
    .w3-margin
        .w3-card(style='width:75% ;margin:auto')
            .w3-white.w3-center     
                .w3-container
                    h2.heading-w3-agile Login
                    .w3-center
                      img.w3-circle.w3-margin-top(src='/images/LO.png' alt='Avatar' style='width:200px')
                      br
                      .w3-center
                        .w3-section(style='width:74% ;margin:auto')
                            form(action='/login' method='POST')
                                label
                                  b Email
                                input.w3-input.w3-border.w3-margin-bottom(type='text' placeholder='Email' name='email' required='')
                                label
                                  b Password
                                input.w3-input.w3-border(type='password'  placeholder='Password' name='password' required='')
                                br
                                input.w3-btn.w3-purple(type="submit" value="Enviar")
                                .w3-padding.w3-hide-small
                                      | Forgot 
                                      a(href='#') password?
                                hr
                        .w3-container.w3-border-top.w3-padding-16.w3-light-gray
                          button.w3-button.w3-pink.w-section.w3-padding(hrf='/registar') Registar                    
