extends header
block content
    // Blog entries
    .w3-card-4.w3-margin.w3-white
      .w3-container
        h1.w3-center Página de Registo
    .w3-row.w3-center
        // Blog entries 
        .w3-col.l2.sl2
            .w3-card-4.w3-purple
                    .w3-container
        .w3-col.l8.s12

            // Blog entry    
            .w3-card-4.w3-margin.w3-white
                .w3-container
                    form(action="/registar" method="POST")
                        .container(id="fileInputGroup")
                            br
                            p
                            .div
                                label(for="nivel") Tipo de Utilizador:                   
                            .div
                                select.w3-input.w3-border.w3-round.form-control(type="text",name="nivel" required)
                                    option(value="produtor") Produtor
                                    option(value="consumidor") Consumidor
                            p
                            .div
                                label(for="nome") Nome:
                                .div
                                    input.w3-input.w3-border.w3-round.form-control(type="text",name="nome" required)
                            p
                            .div
                                label(for="email") Email:
                            .div
                                input.w3-input.w3-border.w3-round.form-control(type="text",name="email" required)
                            p
                            .div
                                label(for="filiacao") Filiação:
                            .div
                                select.w3-input.w3-border.w3-round.form-control(type="text" name="filiacao" required)
                                    option(value="estudante") Estudante
                                    option(value="docente") Docente
                                    option(value="outro") Outro
                            p
                            .div
                                label(for="password") Password:
                            .div
                                input#password.w3-input.w3-border.w3-round.form-control(type="password" name="password" onkeyup='check();' required)  
                            p
                            .div
                                label(for="password") Repita password:
                            .div
                                input#confirm_password.w3-input.w3-border.w3-round.form-control(type="password" name='confirm_password' onkeyup='check();' required)  
                            span#message

                        hr
                        .w3.bottom   
                            input.w3-button.w3-padding-large.w3-purple.w3-border(type="submit",value="Submit")
                        br
    // END w3-content
