extends header
block content
    // Blog entries
    .w3-card-4.w3-margin.w3-white
      .w3-container
        h1.w3-center Painel do Administrador
    .w3-row.w3-center
        // Introduction menu
        .w3-col.l4
          // About Card
          .w3-card.w3-margin.w3-margin-top
            .w3-container.w3-white
              br
              br
              br
              h4
                input.w3-button.w3-padding-large.w3-hoverable.w3-white.w3-round(type="button" onclick="window.location='/administrador/recursos'" value="Gerir Recursos")
              br
              br
              br
        .w3-col.l4
          // About Card
          .w3-card.w3-margin.w3-margin-top
            .w3-container.w3-white
              br
              br
              br
              h4
                input.w3-bold.w3-button.w3-padding-large.w3-hoverable.w3-white.w3-round(type="button" onclick="window.location='/administrador/utilizadores'" value="Gerir Utilizadores") 
              br
              br
              br
        .w3-col.l4
          // About Card
          .w3-card.w3-margin.w3-margin-top
            .w3-container.w3-white
              br
              br
              br
              h4
                input.w3-button.w3-padding-large.w3-hoverable.w3-white.w3-round(type="button" onclick="window.location='/administrador/anuncios'" value="Gerir Anuncios")
              br
              br
              br
         
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br

    // END w3-content
